In [3]:
import pandas as pd
import numpy as np
import scipy.stats as st

1.We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [2]:
data = pd.read_csv("machine.TXT", sep = "\t")
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [4]:
new_machine = [ 42.1 , 41.0 , 41.3 , 41.8 , 42.4 , 42.8 , 43.2 ,  42.3 , 41.8 , 42.7]
old_machine =[ 42.7 , 43.6 , 43.8 , 43.3 ,  42.5 , 43.5 , 43.1 , 41.7 , 44.0 , 44.1]

The null hypotesis(H0) assumes that there is no difference in the averange packing times between the two machines , while the alternative hypothesis (H1) 
assumes that the new machine packs faster on average.

$H_0: \mu new machine = \mu_0$ old machine

$H_1: \mu New machine <= \mu_0$old machine

confidence level of 95%
Alpha = 0.05

In [7]:
st.ttest_ind(a=new_machine , b= old_machine , alternative= 'less')

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0016055712503872579)

In [ ]:
la nueva maquina si es mas rapida que la antigua.